/* @import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap"); */
@font-face {
  font-family: "FigTree ExtraBold";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf");
}
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: Figtree;
}

body {
  background-color: hsl(47, 88%, 63%);
}
main {
  height: 98vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.content {
  border: 1px solid;
  border-radius: 20px;
  padding: 2rem;
  width: 27%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 8px 8px;
}
.content > * {
  margin-bottom: 1rem;
  color: hsl(0, 0%, 7%);
}
h1 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
}

img {
  width: 100%;
  border-radius: 10px;
}

.yellow-box {
  background-color: hsl(47, 88%, 63%);
  padding: 4px 12px;
  border-radius: 4px;
  width: fit-content;
}
.yellow-box-content,
h1,
.text-preset-3-bold {
  font-family: "FigTree ExtraBold";
}
.paragraph {
  font-size: clamp(0.84rem, 2vw, 1rem);
  color: hsl(0, 0%, 42%);
}

.text-preset-3 {
  font-size: clamp(0.75rem, 2vw, 0.875rem);
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-bottom: 0;
}
.author img {
  width: 2rem;
  padding-right: 1rem;
}
.text-preset-3-bold {
  font-size: 0.875rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 376px) {
  .content {
    width: 70%;
  }
}
h1:hover,
h1:active,
h1:focus,
h1.error {
  color: hsl(47, 88%, 63%);
}
